<div id="<%= dom_id game %>" class="<%= dom_class game %>">
  <h3><%= link_to game.name, game_url(game) %></h3>
  <%= friendly_game_status game %>
  <% unless @current_user.in_game?(game) || !game.joinable? %>
    <%= link_to 'Join game', join_game_url(game), :method => 'put', :class => 'join' %>
  <% end %>
  <% if game.in_progress? %>
    <p>Active Player: <%= h game.current_player.display_name %></p>
  <% end %>
</div>
