<%= render :partial => 'players' %>

<div id="privates">
<% @game_instance.bank.privates.each do |private| %>
  <div class="private" id="private-<%= private.nickname -%>">
    <div class="name"><%= private.name %></div>
    <div class="main-stats">
    <div class="revenue">Revenue: <span class="value"><%= number_to_currency private.revenue, :precision => 0 %></span></div>

    <% if private.special && (private.special != 'nil') %>
      <div class="special"><%= render :partial => 'private_special', :locals => { :special => private.special } %></div>
    <% end %>
    </div>

    <% if @game_instance.bank.purchasable_asset?(private) %>
    <div class="purchase">
      <% form_tag act_game_url do %>
        <input type="hidden" value="buy_private" name="action_data[verb]">
        <input type="hidden" value="<%= private.nickname -%>" name="action_data[target]">
        <div class="par"><%= number_to_currency private.par, :precision => 0 -%></div>
        <div class="act"><input type="submit" value="Buy" id="buy-<%= private.nickname -%>" /></div>
      <% end %>
    </div>
    <% else %>
    <div class="bid">
      <% form_tag act_game_url do %>
        <input type="hidden" value="bid_on_private" name="action_data[verb]">
        <input type="hidden" value="<%= private.nickname -%>" name="action_data[target]">
        <div class="par"><input type="text" value="<%= number_to_currency private.minimum_bid, :precision => 0 -%>" name="action_data[bid]" class="bid-value" /></div>
        <div class="act"><input type="submit" value="Bid" id="bid-<%= private.nickname -%>" /></div>
      <% end %>
      <div>
	<strong>Bids:</strong>
	<ul class="bids">
	  <% private.bids.each do |bid| %>
	  <li class="bid-<%= bid[:player].identifier -%>">
	    <%= h @users_players[bid[:player].identifier] %> - $<%= bid[:price] -%>
	  </li>
	  <% end %>
	  </ul>
      </div>
    </div>    
    <% end %>
  <div class="clearall"></div>
  </div>
<% end %>
</div>
<div class="clearall"></div>
<%= render :partial => 'map' %>
