<h2>Edit game</h2>
<%= form_for @game do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'title' %>
  </p>

  <p>
    <%= f.label :max_players, "Player Limit" %>
    <%= f.text_field :max_players, :class => 'title' %>
  </p>

  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment, :class => 'short' %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
