<h2>Edit game</h2>
<% form_for @game do |f| %>
  <%= f.error_messages :class => 'error', :header_message => nil %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'title' %>
  </p>

  <p>
    <%= f.label :max_players, "Player Limit" %>
    <%= f.text_field :max_players, :class => 'title' %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
