<% content_for :header do %>
  <%= javascript_include_tag 'canvas', 'tiles', 'game' %>
  <%= stylesheet_link_tag 'play', 'canvas' %>

  <script>
    var board = <%= @game_instance.board.to_json %>;
  </script>
<% end %>
<h2><%= @game.name %></h2>
<%= render :partial => 'notifications' %>

<%= render :partial => @game_instance.round_name, :locals => { :game => @game } %>

<div id="log-window-stand-in"></div>
<div id="log-window-container">
<div id="log-window">
<%= render :partial => 'log' %>
<%= render :partial => 'chat' %>
<%= render :partial => 'notes' %>
</div>
</div>
