<% content_for :header do %>
  <%= javascript_include_tag 'canvas', 'tiles', 'game' %>
  <%= stylesheet_link_tag 'play', 'canvas' %>

  <script>
    var board = <%= @game_instance.board.to_json %>;
  </script>
<% end %>
<h2><%= @game.name %>(<%= @game_instance.imp_name %>)</h2>
<%= render :partial => 'status' %>
<%= render :partial => 'notifications' %>

<% if @game.requires_confirmation? %>
  <%= render :partial => 'confirm' %>
<% end %>

<%= render :partial => @game_instance.round_name, :locals => { :game => @game } %>

<div id="log-window-stand-in"></div>
<div id="log-window-container">
	<div id="log-window">
		<%= render :partial => 'chat' %>
		<%= render :partial => 'notes' %>
	</div>
</div>

