<div id="<%= dom_id @game %>" class="<%= dom_class @game %>">
  <h2><%= h @game.name %></h2>
  <% if @current_user == @game.owner %>
    <div class="owner-actions">
    <%= custom_button_to 'Edit', edit_game_url(@game), :class => 'edit' %>
    <% unless @game.started? %>
      <%= custom_button_to 'Start game', start_game_url(@game), :class => 'start', :method => 'put' %>
    <% end %>
    </div>
    <div class="clearall"></div>
  <% end %>
  <p>Status: <%= friendly_game_status @game %></p>
  <p><%= h @game.comment %></p>
  <p>Players:
    <ul>
      <% @game.users.each do |u| %>
      <li><%= h u.display_name %></li>
      <% end %>
    </ul>
  </p>
</div>
