<h2>Edit Account</h2>

<% form_for :account, @current_user, :url => { :action => "update"} , :html => { :method => 'put' } do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'title' %>
  </p>

  <p>
    <%= f.label :actual_name %>
    <%= f.text_field :actual_name, :class => 'title' %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'title' %>
  </p>

  <p>
    <%= f.label :email_notification, 'Receive email notification on your turn?' %>
    <%= f.check_box :email_notification %>
  </p>


  <p><%= f.submit 'Save', :class => 'save' %></p>
<% end %>
